extends layout

block content
  h1 About Us
  p
    | We love technology and problem solving. If you have an issue with your computer, please reach out to us and we would love to help you. Please check out the services page to see your pricing for our service. Please fill out a form in the Contact page with your request and so that we may better service you.