extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer Not Working?
          p
            | Is your computer running slow? or maybe not at all? Call us for a quick and easy quote
          p
            a.btn.btn-primary.btn-lg(href='#') Read More
        .col-md-5
          img(src='images/mouse.png')
  .row
    .col-md-4
      .well
        h4 Hardware Problems?
        p
          | Do you have hardware problems? We can fix any hardware problems on your computers. Whether it is a button not working or your parts needs fixing.
    .col-md-4
      .well
        h4 Software Problems?
        p
          | Do you need assistance in your software? We have experience with working with many software from many companies such as Microsoft, Dell, and HP. If you have a software issue, we can assist you!
    .col-md-4
      .well
        h4 PC Tune Up
        p
          | Need some upgrades? We have plenty of computer parts that can help improve your computer performace.
